:root{
  --dark-color: #424141;
  --light-color: #fff;
}
@font-face {
  font-family: 'Century Gothic';
  src: url('./assets/fonts/GOTHIC.TTF')
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container-box{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.flex{
  display: flex;
  justify-content: space-between;
}
.center{
  justify-content: center;
  align-items: center;
}
.row{
  width: 100%;
}
.height-70p{
  padding: 10px;
  height: 70px;
}
.logo-box-nav{
  width: 100px;
  height: 100%;
}
.logo-box-nav img{
  width: 100%;
  height: 100%;
}
.flex-rows{
  flex-direction: column;
  justify-content: flex-start;

}
.flex-rows .flex{
  display: flex;  
}
.flex-rows .main-content{
  height: 100vh;
  display: flex;
  justify-content: space-around;
}